!!!
%html
  %head
  %body.slideshow
    #slides
      %ul.slides-container
        -@top_posts.each do |post| 
          %li
            %img= if post.image.present? then image_tag post.image else image_tag randomized_post_image() end
            .slideshow-container
              .slideshow-contrast
                = "#{post.content} - #{post.user.name}"
      %nav.slides-navigation
        %a.next{href: "#"}
          .icon-chevron-right
        %a.prev{href: "#"}
          .icon-chevron-left
  :javascript
    $(function() {
      $('#slides').superslides({
      });
    });
    $(function() {
      var $slides = $('#slides');

      Hammer($slides[0]).on("swipeleft", function(e) {
        $slides.data('superslides').animate('next');
      });

      Hammer($slides[0]).on("swiperight", function(e) {
        $slides.data('superslides').animate('prev');
      });

      $slides.superslides({
        hashchange: true
      });
    });
  %footer.footer-bar
    %hr
    .footer-link
      = link_to 'View Index', posts_path

