!!!
%html
  %head
  %body.slideshow
    #slides
      %ul.slides-container
        -@top_posts.each do |post| 
          %li
            %img= image_tag post.image if post.image.present?
            .slideshow-container
              %h1
              .slideshow-contrast
                %p
                = "#{post.content} - #{post.user.name}"
      %nav.slides-navigation
        %a.next{href: "#"} Next
        %a.prev{href: "#"} Previous
  :javascript
    $(function() {
      $('#slides').superslides({
        
      });
    });
  %footer.footer-bar
    %hr
    .footer-link
      = link_to 'New Post', new_post_path

    .footer-link-right
      = form_tag searches_path do
        = text_field_tag :query
        = submit_tag "Search"
