.sign-up
  %h2.header Sign Up
  .form
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = devise_error_messages!
      %div
        = f.label :name
        %br/
        = f.text_field :name
      %div
        = f.label :email
        %br/
        = f.email_field :email, :autofocus => true
      %div
        = f.label :password
        %br/
        = f.password_field :password
      %div
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation
      %div
        = f.label :image
        %br/
        %br/
        = f.file_field :image
        %br/
        %br/
      %div= f.submit "Sign up"
  / = render "devise/shared/links"

  %hr

  .oauth
    Sign up with:
    = link_to image_tag('google2.jpg'), "/users/auth/google_oauth2"
    = link_to image_tag('facebook2.jpeg'), "/users/auth/facebook"
  
  %hr

  .links
    = link_to "Didn't receive confirmation email?", "/users/confirmation/new"

