.sign-in
  %h2.header Sign In
  .form
    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      .text
        = f.label :email
      .box
        = f.email_field :email, :autofocus => true
      .text
        = f.label :password
      .box
        = f.password_field :password
      - if devise_mapping.rememberable?
        = f.check_box :remember_me
        = f.label :remember_me
      
      .button
        = f.submit "Sign In"
  / = render "devise/shared/links"

  %hr

  .oauth
    Sign in with:
    = link_to image_tag('google2.jpg'), "/users/auth/google_oauth2"
    = link_to image_tag('facebook2.jpeg'), "/users/auth/facebook"
  
  %hr

  .links
    = link_to 'Forgot your password?', "/users/password/new"
  .links
    = link_to "Didn't receive confirmation email?", "/users/confirmation/new"

