= form_for @post do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg


  %ul.slides-container    
    %li#new_post
      .post-container
        .post-contrast
          %p#post-text
            Hoot

  .field
    = f.text_area :content, placeholder: "Hoot..."

  .field
    = f.label :image
    = f.file_field :image
    #digits-left Digits left: 141
  .actions
    %input{:type => "submit", :value => "Save", :class => "button", :id => "post_submit"}



