%section.container

  %h1 Hoots

  - @posts.each do |post|
    = "#{post.current_post_score(post)}"
    = post.content
    %br
    = "Comments: #{post.comment_count}"
    = link_to "+" #update to link_to once logic for up/down votes established
    = link_to "-" #update to link_to once logic for up/down votes established
    = link_to "flag" 
    = link_to 'Show', post
    = link_to 'Edit', edit_post_path(post)
    = link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }
    %hr
  
%footer.footer-bar
  %hr
  .footer-link
    = link_to 'New Post', new_post_path


//pseudo code

/score table
/order scores (high to low), get top 10
/ get the corresponding posts id of top 10
/display posts using post id
 
