%section.container


  .top-posts-container
    %h2 Top Hoots
    - @top_posts.each do |post| 
      .post-break
        %hr
      .post-score
        = "#{post.score}"
      .post-comment
        = link_to post.content, post
      .post-commentcount
        = "Comments: #{post.comment_count} | #{post.user.name}"
      / .post-published
      /   = post.user.name
    .post-break
      %hr

  .latest-posts-container
    %h2 Latest Hoots
    - @latest_posts.each do |post|
      .post-break
        %hr
      .post-score
        = "#{post.score}"
      .post-comment
        = link_to post.content, post
      .post-commentcount
        = "Comments: #{post.comment_count} | #{post.user.name}"
      / .post-published
      /   = post.user.name
      / .post-continuous-loading
      /   = render :partial => 'shared/posts', :locals => { :posts => @latest_posts}
    .post-break
      %hr      

  / %h1= link_to "Load More Hoots", posts_path(:page => @latest_posts.next_page), :class => "load-more-posts", :remote => true if @latest_posts.next_page

  
%footer.footer-bar
  %hr
  .footer-link
    = link_to 'New Hoot', new_post_path

  .footer-link-right
    = form_tag searches_path do
      = text_field_tag :query
      = submit_tag "Search"



 
