%h1 Listing posts

%table
  %tr
    %th
    %th
    %th

  - @posts.each do |post|
    %tr
      %td= post.content
      %td= "Comments: #{post.comments.count}"
      %td= link_to "+" #update to link_to once logic for up/down votes established
      %td= link_to "-" #update to link_to once logic for up/down votes established
      %td= link_to "flag" 
      %td= link_to 'Show', post
      %td= link_to 'Edit', edit_post_path(post)
      %td= link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Post', new_post_path
