%section.container

  %h1 Hoots

  - @posts.each do |post|
    .post-break
      %hr
    .post-score
      = "#{post.score}"
    .post-voting-up
      = image_tag 'PNG/thumbs-up.png'
    .post-voting-down
      = image_tag 'PNG/thumbs-down.png'   
    .post-comment
      = link_to post.content, post
    .post-commentcount
      = "Comments: #{post.comment_count}"
    .post-buttons
      = image_tag 'PNG/heart.png'
      = link_to image_tag('PNG/info.png'), edit_post_path(post)
      = link_to image_tag('PNG/cross.png'), post, :method => :delete, :data => { :confirm => 'Are you sure?' }
      = image_tag 'PNG/!.png'

  .post-break
    %hr
  
%footer.footer-bar
  %hr
  .footer-link
    = link_to 'New Post', new_post_path

  .footer-link-right
    = form_tag searches_path do
      = text_field_tag :query
      = submit_tag "Search"



//pseudo code

/score table
/order scores (high to low), get top 10
/ get the corresponding posts id of top 10
/display posts using post id
 
