%h1 Posts

%table
  %tr
    %th
    %th
    %th

  - @posts.each do |post|
    %tr
      %td= "Current score: #{post.current_post_score(post)}"
      %td= post.content
      %td= "Comments: #{post.comment_count}"
      %td= link_to "+" #update to link_to once logic for up/down votes established
      %td= link_to "-" #update to link_to once logic for up/down votes established
      %td= link_to "flag" 
      %td= link_to 'Show', post
      %td= link_to 'Edit', edit_post_path(post)
      %td= link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }
%br
    

= link_to 'New Post', new_post_path


//pseudo code

/score table
/order scores (high to low), get top 10
/ get the corresponding posts id of top 10
/display posts using post id
 
