%p#notice= notice

#posts
  %h3 Post
  %p= "#{@post.content}"

  %ol
  - @post.comments.each do |comment|
    %li
      = "#{comment.content}"
<<<<<<< HEAD
      = link_to "flag"
=======
>>>>>>> chore/test_scripts

  = form_for [@post, @post.comments.build] do |f|
    %p= f.text_area :content, :size => '40x10'
    %p= f.submit "Post comment"

= link_to 'Edit', edit_post_path(@post)
\|
= link_to 'Back', posts_path
