%p#notice= notice

#posts
  %h3 Post
  %p= "#{@post.content}"
  %p=image_tag @post.image
  %p= "Current score: #{@post.current_post_score(@post)}"
  = link_to "+", vote_post_path + "?score=#{1}", method: :put
  \|
  = link_to "-", vote_post_path + "?score=#{-1}", method: :put 
  \|
  = link_to "flag" 
  %p Comments:
  %ol
  - @post.comments.each do |comment|
    %li
      = "#{comment.content}"
      = link_to "flag"

  = form_for [@post, @post.comments.build] do |f|
    %p= f.text_area :content, :size => '40x10'
    %p= f.submit "Post comment"

= link_to 'Edit', edit_post_path(@post)
\|
= link_to 'Back', posts_path
