!!!
%html
  %head
    %title HootsApp
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body  
  #container
    .user-nav
      - if user_signed_in?
        Logged in as
        %b= current_user.email
        = link_to 'Edit Profile', edit_user_registration_path
        \|
        = link_to 'Logout',  destroy_user_session_path, method: :delete
      - else
        = link_to 'Sign up', new_user_registration_path
        \|
        = link_to 'Login', new_user_session_path
        \|
        = link_to "Sign in With Google", user_omniauth_authorize_path(:google_oauth2)
        \|
        = link_to "Sign in With Facebook", user_omniauth_authorize_path(:facebook)
 
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"

  %body
    = yield
